@{
    ViewBag.Title = "Mỹ phẩm; Sữa bột ; Sữa Nan Nga; Bột ăn dặm; Thực phẩm; Đồ ăn";
}

<div class="list_product">
    <div class="title">
        <h3>SẢN PHẨM CHO BÉ</h3>
    </div>
    <div class="list_content">
        <ul class="list">
            <li>
                <div class="image">
                    <a href="/Chao-sua-dem-Fleur-A;pine-Organic-.html" title="Cháo sữa ăn đêm Fleur Alpine Organic ">
                        <img src="/Assets/Images/sp/1468231782_Cháo_sữa_ăn_đêm_Fleur_Alpine_Organic.jpg" data-tooltip="sticky644" alt="Cháo sữa ăn đêm Fleur Alpine Organic ">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="/Chao-sua-dem-Fleur-A;pine-Organic-.html" title="Cháo sữa ăn đêm Fleur Alpine Organic ">Cháo sữa ăn đêm Fleur Alpine Organic ...</a></h3>
                    <div class="price">
                        <span>145,000 đ</span>
                        <img src="/Assets/Images/star.png" alt="star">
                    </div>
                    <button data-product="644" class="btn ajax">Mua hàng</button>

                </div>
            </li>

            <li>
                <div class="image">
                    <a href="/banh-an-dam-Fleur-Alpine-Organic-loai-Alpine-Prebiotic-.html" title="Bánh ăn dặm Fleur Alpine Organic loại Alpine Prebiotic">
                        <img src="/Assets/Images/sp/1468231227_Bánh_ăn_dặm_Fleur_Alpine_Organic_loại_Alpine_Prebiotic.jpg" data-tooltip="sticky643" alt="Bánh ăn dặm Fleur Alpine Organic loại Alpine Prebiotic">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="/banh-an-dam-Fleur-Alpine-Organic-loai-Alpine-Prebiotic-.html" title="Bánh ăn dặm Fleur Alpine Organic loại Alpine Prebiotic">Bánh ăn dặm Fleur Alpine Organic loại Al...</a></h3>
                    <div class="price">
                        <span>135,000 đ</span>
                        <img src="/Assets/Images/star.png" alt="star">
                    </div>
                    <button data-product="643" class="btn ajax">Mua hàng</button>

                </div>
            </li>

            <li>
                <div class="image">
                    <a href="/banh-bich-quy-Fleur-Alpine-voi-tao-.html" title="Bánh bích quy Fleur Alpine với táo">
                        <img src="/Assets/Images/sp/1468230903_Bánh_bích_quy_Fleur_Alpine_với_táo.jpg" data-tooltip="sticky642" alt="Bánh bích quy Fleur Alpine với táo">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="/banh-bich-quy-Fleur-Alpine-voi-tao-.html" title="Bánh bích quy Fleur Alpine với táo">Bánh bích quy Fleur Alpine với táo...</a></h3>
                    <div class="price">
                        <span>135,000 đ</span>
                        <img src="/Assets/Images/star.png" alt="star">
                    </div>
                    <button data-product="642" class="btn ajax">Mua hàng</button>

                </div>
            </li>

            <li>
                <div class="image">
                    <a href="/Sup-rau-cu-tong-hop-Fleur-Alpine-.html" title="Bột Fleur Alpine rau củ tổng hợp">
                        <img src="/Assets/Images/sp/1468230289_Súp_rau_củ_tổng_hợp_Fleur_Alpine.jpg" data-tooltip="sticky641" alt="Bột Fleur Alpine rau củ tổng hợp">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="/Sup-rau-cu-tong-hop-Fleur-Alpine-.html" title="Bột Fleur Alpine rau củ tổng hợp">Bột Fleur Alpine rau củ tổng hợp...</a></h3>
                    <div class="price">
                        <span>150,000 đ</span>
                        <img src="/Assets/Images/star.png" alt="star">
                    </div>
                    <button data-product="641" class="btn ajax">Mua hàng</button>

                </div>
            </li>
        </ul>

    </div>

    <div class="title">

        <h3>MỸ PHẨM ORGANIC </h3>


    </div>
    <div class="list_content">
        <ul class="list">
            <li>
                <div class="image">
                    <a href="/gel-rua-mat-va-cao-rau-natura-siberica.html" title="Sữa rửa mặt Natura Siberica dành cho nam">
                        <img src="/Assets/Images/sp/1463305535_Ice_gel_sau_khi_cạo_râu_Natura_Siberica.jpg" data-tooltip="sticky558" alt="Sữa rửa mặt Natura Siberica dành cho nam">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="/gel-rua-mat-va-cao-rau-natura-siberica.html" title="Sữa rửa mặt Natura Siberica dành cho nam">Sữa rửa mặt Natura Siberica dành cho nam...</a></h3>
                    <div class="price">
                        <span>165,000 đ</span>
                        <img src="/Assets/Images/star.png" alt="star">
                    </div>
                    <button data-product="558" class="btn ajax">Mua hàng</button>

                </div>
            </li>

            <li>
                <div class="image">
                    <a href="/sua-rua-mat-tay-trang-natura-siberica-danh-cho-da-hon-hop-.html" title=" Sữa rửa mặt tẩy trang Natura Siberica dành cho da hỗn hợp ">
                        <img src="/Assets/Images/sp/1463031566_Sữa_rửa_mặt_tẩy_trang_Natura_Siberica_dành_cho_da_hỗn_hợp.jpg" data-tooltip="sticky547" alt=" Sữa rửa mặt tẩy trang Natura Siberica dành cho da hỗn hợp ">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="/sua-rua-mat-tay-trang-natura-siberica-danh-cho-da-hon-hop-.html" title=" Sữa rửa mặt tẩy trang Natura Siberica dành cho da hỗn hợp "> Sữa rửa mặt tẩy trang Natura Siberica d...</a></h3>
                    <div class="price">
                        <span>220,000 đ</span>
                        <img src="/Assets/Images/star.png" alt="star">
                    </div>
                    <button data-product="547" class="btn ajax">Mua hàng</button>

                </div>
            </li>

            <li>
                <div class="image">
                    <a href="/Kem-cham-soc-da-ban-ngay-Natura-Siberica-cho-da-nhon-va-da-hon-hop-.html" title="Kem chăm sóc da ban ngày Natura Siberica cho da nhờn và da hỗn hợp.">
                        <img src="/Assets/Images/sp/1461826478_Kem_chăm_sóc_da_ban_ngày_Natura_Siberica_cho_da_nhờn_và_da_hỗn_hợp..jpg" data-tooltip="sticky522" alt="Kem chăm sóc da ban ngày Natura Siberica cho da nhờn và da hỗn hợp.">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="/Kem-cham-soc-da-ban-ngay-Natura-Siberica-cho-da-nhon-va-da-hon-hop-.html" title="Kem chăm sóc da ban ngày Natura Siberica cho da nhờn và da hỗn hợp.">Kem chăm sóc da ban ngày Natura Siberica...</a></h3>
                    <div class="price">
                        <span>230,000 đ</span>
                        <img src="/Assets/Images/star.png" alt="star">
                    </div>
                    <button data-product="522" class="btn ajax">Mua hàng</button>

                </div>
            </li>

            <li>
                <div class="image">
                    <a href="/Kem-duong-ban-ngay-Natura-Siberica-cho-da-kho-.html" title="Kem dưỡng ban ngày Natura Siberica  cho da khô">
                        <img src="/Assets/Images/sp/1461825669_Kem_dưỡng_ban_ngày_Natura_Siberica__cho_da_khô.jpg" data-tooltip="sticky521" alt="Kem dưỡng ban ngày Natura Siberica  cho da khô">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="/Kem-duong-ban-ngay-Natura-Siberica-cho-da-kho-.html" title="Kem dưỡng ban ngày Natura Siberica  cho da khô">Kem dưỡng ban ngày Natura Siberica  cho ...</a></h3>
                    <div class="price">
                        <span>230,000 đ</span>
                        <img src="/Assets/Images/star.png" alt="star">
                    </div>
                    <button data-product="521" class="btn ajax">Mua hàng</button>

                </div>
            </li>
        </ul>

    </div>

    <div class="title">

        <h3>MỸ PHẨM PHỔ THÔNG</h3>


    </div>
    <div class="list_content">
        <ul class="list">
            <li>
                <div class="image">
                    <a href="/gel-rua-mat-pure-line-lam-sach-sau-.html" title="Gel rửa mặt PURE LINE làm sạch sâu">
                        <img src="/Assets/Images/sp/1469512144_13820319_1750876108517601_1816939926_n.jpg" data-tooltip="sticky645" alt="Gel rửa mặt PURE LINE làm sạch sâu">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="/gel-rua-mat-pure-line-lam-sach-sau-.html" title="Gel rửa mặt PURE LINE làm sạch sâu">Gel rửa mặt PURE LINE làm sạch sâu...</a></h3>
                    <div class="price">
                        <span>85,000 đ</span>
                        <img src="/Assets/Images/star.png" alt="star">
                    </div>
                    <button data-product="645" class="btn ajax">Mua hàng</button>

                </div>
            </li>

            <li>
                <div class="image">
                    <a href="/Son-tomford-.html" title="Son Tomford">
                        <img src="/Assets/Images/sp/1465117339_13392951_1729935547278324_274301375_n.jpg" data-tooltip="sticky574" alt="Son Tomford">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="/Son-tomford-.html" title="Son Tomford">Son Tomford...</a></h3>
                    <div class="price">
                        <span>1,300,000 đ</span>
                        <img src="/Assets/Images/star.png" alt="star">
                    </div>
                    <button data-product="574" class="btn ajax">Mua hàng</button>

                </div>
            </li>

            <li>
                <div class="image">
                    <a href="/Xit-khu-mui-hoi-chan-Rexona-3-in-1-.html" title="Xịt chân 24h Rexona 3 in 1 - 150ml">
                        <img src="/Assets/Images/sp/1464775650_Xịt_khử_mùi_hôi_chân_Rexona_3_in_1_của_Nga.jpg" data-tooltip="sticky570" alt="Xịt chân 24h Rexona 3 in 1 - 150ml">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="/Xit-khu-mui-hoi-chan-Rexona-3-in-1-.html" title="Xịt chân 24h Rexona 3 in 1 - 150ml">Xịt chân 24h Rexona 3 in 1 - 150ml...</a></h3>
                    <div class="price">
                        <span>160,000 đ</span>
                        <img src="/Assets/Images/star.png" alt="star">
                    </div>
                    <button data-product="570" class="btn ajax">Mua hàng</button>

                </div>
            </li>

            <li>
                <div class="image">
                    <a href="/Sua-tam-dang-gel-VITA-&amp;-MILK-voi-sua-va-dau-tay-.html" title="Sữa tắm VITA MILK dâu tây ">
                        <img src="/Assets/Images/sp/1464342429_Sữa_tắm_dạng_gel_VITA_&amp;_MILK_với_sữa_và_dâu_tây_350ml.jpg" data-tooltip="sticky569" alt="Sữa tắm VITA MILK dâu tây ">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="/Sua-tam-dang-gel-VITA-&amp;-MILK-voi-sua-va-dau-tay-.html" title="Sữa tắm VITA MILK dâu tây ">Sữa tắm VITA MILK dâu tây ...</a></h3>
                    <div class="price">
                        <span>165,000 đ</span>
                        <img src="/Assets/Images/star.png" alt="star">
                    </div>
                    <button data-product="569" class="btn ajax">Mua hàng</button>

                </div>
            </li>
        </ul>

    </div>

    <div class="title">

        <h3>Thực phẩm - Bánh kẹo - Rượu</h3>


    </div>
    <div class="list_content">
        <ul class="list">
            <li>
                <div class="image">
                    <a href="/qua-dao-det-.html" title="Quả đào dẹt">
                        <img src="/Assets/Images/sp/1466661134_Quả_đào_dẹt.jpg" data-tooltip="sticky636" alt="Quả đào dẹt">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="/qua-dao-det-.html" title="Quả đào dẹt">Quả đào dẹt...</a></h3>
                    <div class="price">
                        <span>420,000 đ</span>
                        <img src="/Assets/Images/star.png" alt="star">
                    </div>
                    <button data-product="636" class="btn ajax">Mua hàng</button>

                </div>
            </li>

            <li>
                <div class="image">
                    <a href="/qua-cherry-.html" title="Quả cherry">
                        <img src="/Assets/Images/sp/1466658567_Quả_cherry.jpg" data-tooltip="sticky635" alt="Quả cherry">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="/qua-cherry-.html" title="Quả cherry">Quả cherry...</a></h3>
                    <div class="price">
                        <span>420,000 đ</span>
                        <img src="/Assets/Images/star.png" alt="star">
                    </div>
                    <button data-product="635" class="btn ajax">Mua hàng</button>

                </div>
            </li>

            <li>
                <div class="image">
                    <a href="/mo-muoi-rac-tieu-den-nga-.html" title="Mỡ muối rắc tiêu đen Nga">
                        <img src="/Assets/Images/sp/1466588127_Mỡ_muối_rắc_tiêu_đen_Nga.jpg" data-tooltip="sticky632" alt="Mỡ muối rắc tiêu đen Nga">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="/mo-muoi-rac-tieu-den-nga-.html" title="Mỡ muối rắc tiêu đen Nga">Mỡ muối rắc tiêu đen Nga...</a></h3>
                    <div class="price">
                        <span>60,000 đ</span>
                        <img src="/Assets/Images/star.png" alt="star">
                    </div>
                    <button data-product="632" class="btn ajax">Mua hàng</button>

                </div>
            </li>

            <li>
                <div class="image">
                    <a href="/xuc-xich-salami-nga-.html" title="Salami 270g">
                        <img src="/Assets/Images/sp/1466590305_Xúc_xích_SALAMI_Nga.jpg" data-tooltip="sticky631" alt="Salami 270g">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="/xuc-xich-salami-nga-.html" title="Salami 270g">Salami 270g...</a></h3>
                    <div class="price">
                        <span>185,000 đ</span>
                        <img src="/Assets/Images/star.png" alt="star">
                    </div>
                    <button data-product="631" class="btn ajax">Mua hàng</button>

                </div>
            </li>
        </ul>

    </div>

    <div class="title">

        <h3>Thuốc bổ cho gia đình</h3>


    </div>
    <div class="list_content">
        <ul class="list">
            <li>
                <div class="image">
                    <a href="/canxi-kid-va-multivitamin-cho-tre-tu-2-den-7-tuoi-.html" title="Canxi Kid và Multivitamin cho trẻ từ 2 đến 7 tuổi ">
                        <img src="/Assets/Images/sp/1463814501_Canxi_Kid_và_Multivitamin_cho_trẻ_từ_2_đến_7_tuổi.jpg" data-tooltip="sticky431" alt="Canxi Kid và Multivitamin cho trẻ từ 2 đến 7 tuổi ">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="/canxi-kid-va-multivitamin-cho-tre-tu-2-den-7-tuoi-.html" title="Canxi Kid và Multivitamin cho trẻ từ 2 đến 7 tuổi ">Canxi Kid và Multivitamin cho trẻ từ 2 đ...</a></h3>
                    <div class="price">
                        <span>320,000 đ</span>
                        <img src="/Assets/Images/star.png" alt="star">
                    </div>
                    <button data-product="431" class="btn ajax">Mua hàng</button>

                </div>
            </li>

            <li>
                <div class="image">
                    <a href="/multitab-vitamin-va-khoang-chat-cho-tre-tu-1-den-4-tuoi-60v-.html" title="MultiTab vitamin và khoáng chất cho trẻ từ 1 đến 4 tuổi 60v ">
                        <img src="/Assets/Images/sp/1463814635_MultiTab_vitamin_và_khoáng_chất_cho_trẻ_từ_1_đến_4_tuổi_60v.jpg" data-tooltip="sticky417" alt="MultiTab vitamin và khoáng chất cho trẻ từ 1 đến 4 tuổi 60v ">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="/multitab-vitamin-va-khoang-chat-cho-tre-tu-1-den-4-tuoi-60v-.html" title="MultiTab vitamin và khoáng chất cho trẻ từ 1 đến 4 tuổi 60v ">MultiTab vitamin và khoáng chất cho trẻ ...</a></h3>
                    <div class="price">
                        <span>380,000 đ</span>
                        <img src="/Assets/Images/star.png" alt="star">
                    </div>
                    <button data-product="417" class="btn ajax">Mua hàng</button>

                </div>
            </li>

            <li>
                <div class="image">
                    <a href="/elevit-vitamin-tong-hop-cho-phu-nu-mang-thai-30v-.html" title="Elevit Vitamin tổng hợp cho phụ nữ mang thai 30v ">
                        <img src="/Assets/Images/sp/1463814987_Elevit_Vitamin_tổng_hợp_cho_phụ_nữ_mang_thai_30v.jpg" data-tooltip="sticky406" alt="Elevit Vitamin tổng hợp cho phụ nữ mang thai 30v ">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="/elevit-vitamin-tong-hop-cho-phu-nu-mang-thai-30v-.html" title="Elevit Vitamin tổng hợp cho phụ nữ mang thai 30v ">Elevit Vitamin tổng hợp cho phụ nữ mang ...</a></h3>
                    <div class="price">
                        <span>450,000 đ</span>
                        <img src="/Assets/Images/star.png" alt="star">
                    </div>
                    <button data-product="406" class="btn ajax">Mua hàng</button>

                </div>
            </li>

            <li>
                <div class="image">
                    <a href="/multitab-4-11-tuoi-hop-60v-.html" title="MultiTab 4-11 tuổi hộp 60v ">
                        <img src="/Assets/Images/sp/1463815268_MultiTab_4-11_tuổi_hộp_60v.jpg" data-tooltip="sticky405" alt="MultiTab 4-11 tuổi hộp 60v ">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="/multitab-4-11-tuoi-hop-60v-.html" title="MultiTab 4-11 tuổi hộp 60v ">MultiTab 4-11 tuổi hộp 60v ...</a></h3>
                    <div class="price">
                        <span>380,000 đ</span>
                        <img src="/Assets/Images/star.png" alt="star">
                    </div>
                    <button data-product="405" class="btn ajax">Mua hàng</button>

                </div>
            </li>
        </ul>

    </div>


</div>
<style>
    #wrapper .content .content_1 .slide_content {
        display: block;
    }

    #wrapper .content .content_1 .category .nav_menu_cat .listcategory {
        display: block;
    }
</style>
<script>
    var isclick = false;
    $('#wrapper').on('click', '.btnshowcat', function () {

        if (isclick == true) {
            $('.listcategory').slideDown();
            isclick = false;
        }
        else {
            $('.listcategory').slideUp();
            isclick = true;
        }
    });

    var nav = $('.menu_fix');

    $(window).scroll(function () {
        if ($(this).scrollTop() > 136) {
            nav.addClass("nav_menutop");
            $('#wrapper .content .content_1 .category .listcategory').slideUp();
            $('#wrapper .content .content_1 .category .nav_menu_cat').css('position', 'initial');
            isclick = true;

        } else {
            nav.removeClass("nav_menutop");
            $('#wrapper .content .content_1 .category .listcategory').slideDown();
            $('#wrapper .content .content_1 .category .nav_menu_cat').css('position', 'absolute');
            isclick = false;
        }
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.bxslider').bxSlider({
            //                            pagerCustom: '#bx-pager',
            responsive: true,
            //                            adaptiveHeight: true,
            pager: false,
            auto: true
        });
    });
</script>
<style>
    #bx-pager img {
        width: 40px;
        height: 40px;
    }
</style>

<!--end list product 1-->
