@{
    ViewBag.Title = "Detail";
}

<div class="list-products">
    <div class="tt"><h1>Lợi thế của sữa dê so với sữa bò</h1></div>
    <div class="summary"><b>Dinh dưỡng từ sữa dê là lành mạnh hơn và được tiêu thụ tốt hơn ngay cả đối với những người không dung nạp lactose.</b></div>
    <div class="date">
        <span class="st_fblike" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;position:relative;margin:3px 3px 0;padding:0px;font-size:11px;line-height:0px;vertical-align:bottom;overflow:visible;top:1px;margin-top:0px;"><div data-action="" data-send="false" data-layout="button_count" data-show-faces="false" class="fb-like fb_iframe_widget" data-href="http://chuyenhangnga.com/loi-the-cua-sua-de-so-voi-sua-bo-n32.html" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;container_width=76&amp;href=http%3A%2F%2Fchuyenhangnga.com%2Floi-the-cua-sua-de-so-voi-sua-bo-n32.html&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;send=false&amp;show_faces=false"><span style="vertical-align: bottom; width: 76px; height: 20px;"><iframe name="f1d297db5280384" width="1000px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin" src="https://www.facebook.com/v2.5/plugins/like.php?app_id=&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FLcj5EtQ5qmD.js%3Fversion%3D42%23cb%3Dfc2bcf11314184%26domain%3Dchuyenhangnga.com%26origin%3Dhttp%253A%252F%252Fchuyenhangnga.com%252Ff2b85cb4206000c%26relation%3Dparent.parent&amp;container_width=76&amp;href=http%3A%2F%2Fchuyenhangnga.com%2Floi-the-cua-sua-de-so-voi-sua-bo-n32.html&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;send=false&amp;show_faces=false" style="border: none; visibility: visible; width: 76px; height: 20px;" class=""></iframe></span></div></span></span>
        <span class="st_facebook" st_processed="yes"><span style="text-decoration: none; color: rgb(0, 0, 0); display: inline-block; cursor: pointer; padding-left: 0px; padding-right: 0px; width: 16px;" class="stButton"><span class="chicklets facebook">&nbsp;</span></span></span>
        <span class="st_twitter" st_processed="yes"><span style="text-decoration: none; color: rgb(0, 0, 0); display: inline-block; cursor: pointer; padding-left: 0px; padding-right: 0px; width: 16px;" class="stButton"><span class="chicklets twitter">&nbsp;</span></span></span>
        <span class="st_plusone" st_processed="yes"><div style="display:inline-block;overflow:hidden;line-height:0px;position:relative;vertical-align:middle;bottom:0px;width:36px; height:16px;">&nbsp;<div id="___plusone_0" style="text-indent: 0px; margin: 0px; padding: 0px; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 24px; height: 15px; background: transparent;"><iframe frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 24px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 15px;" tabindex="0" vspace="0" width="100%" id="I0_1470244616034" name="I0_1470244616034" src="https://apis.google.com/se/0/_/+1/fastbutton?usegapi=1&amp;size=small&amp;count=false&amp;origin=http%3A%2F%2Fchuyenhangnga.com&amp;url=http%3A%2F%2Fchuyenhangnga.com%2Floi-the-cua-sua-de-so-voi-sua-bo-n32.html&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.vi.OO-5PWev-dQ.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAGLTcCOCzALjgbc6YtnpORjRYPYMpDM3ag#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh&amp;id=I0_1470244616034&amp;parent=http%3A%2F%2Fchuyenhangnga.com&amp;pfname=&amp;rpctoken=34822198" data-gapiattached="true" title="+1"></iframe></div></div></span>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">stLight.options({ publisher: "ur-640f3884-1525-bb55-10b-9688c93fdf4a" });</script>
    </div>
    <div style="border-top:1px solid #0085b1;margin-top:10px"></div>
    <div class="content_detail">
        <span style="font-family: Arial;"><span style="font-size: larger;"><span style="line-height: 13.5pt;">Bạn có thể uống sữa bò trong nhiều năm nay. Nhưng có bao giờ bạn xem xét đến những lợi ích sức khỏe của sữa dê?</span>  </span></span>
        <div align="center">
            <br>
            <img src="/media/fck/^785DC678AD1411C5AF204775370F81F1626B926A79A5BD28FD^pimgpsh_fullsize_distr(1).png" width="500" height="363" alt=""><br>
            &nbsp;
        </div>
        <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: 13.5pt; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-family: Arial;"><span style="font-size: larger;"><i>1. Sở hữu đặc tính kháng viêm tự nhiên</i></span></span><span style="font-size: 10.5pt; font-family: Arial, sans-serif;"><o:p></o:p></span></p>
        <p class="MsoNormal" style="margin-bottom: 12pt; line-height: 13.5pt; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-family: Arial;"><span style="font-size: larger;">Sữa dê có đặc tính thuần nhất tự nhiên, và chất béo trong sữa này dễ dàng phân tách nhỏ hơn nhiều so với sữa bò. Điều này tạo điều kiện để cơ thể dễ dàng tiêu hóa và hấp thụ. Những người có vấn đề về đường ruột có thể uống sữa dê để ngăn ngừa và chữa trị bệnh viêm ruột. Probiotic kết hợp với sữa dê có thể giúp cơ thể phát triển hệ tiêu hóa khỏe mạnh.</span></span><span style="font-size: 10.5pt; font-family: Arial, sans-serif;"><o:p></o:p></span></p>
        <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: 13.5pt; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-family: Arial;"><span style="font-size: larger;"><i>2. Có axit béo thiết yếu</i></span></span><span style="font-size: 10.5pt; font-family: Arial, sans-serif;"><o:p></o:p></span></p>
        <p class="MsoNormal" style="margin-bottom: 12pt; line-height: 13.5pt; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-family: Arial;"><span style="font-size: larger;">Sữa dê chứa 35% axit béo khi so sánh với 17 % trong sữa bò. Dinh dưỡng từ sữa dê là lành mạnh hơn và được tiêu thụ tốt hơn ngay cả đối với những người không dung nạp lactose. Sữa dê làm giảm lượng cholesterol trong cơ thể và giúp đỡ những người có vấn đề về đường ruột. Axit béo kháng sinh như caprylic và axit capric được tìm thấy rất nhiều trong sữa dê.</span></span><span style="font-size: 10.5pt; font-family: Arial, sans-serif;"><o:p></o:p></span></p>
        <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: 13.5pt; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-family: Arial;"><span style="font-size: larger;"><i>3. Giúp làm dịu hệ thống tiêu hóa</i></span></span><span style="font-size: 10.5pt; font-family: Arial, sans-serif;"><o:p></o:p></span></p>
        <p class="MsoNormal" style="margin-bottom: 12pt; line-height: 13.5pt; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            <span style="font-family: Arial;">
                <span style="font-size: larger;">
                    Uống sữa dê rất hiệu quả với những người đang điều trị viêm loét. Sữa dê là một phương thuốc tuyệt vời cho các vấn đề như vậy. Sự thiếu hụt các protein phức tạp trong sữa dê làm nó ít gây dị ứng hơn sữa bò. Sữa dê giúp làm dịu đường tiêu hóa và đặc biệt làm giảm cơn đói hiệu quả với trẻ em.<br>
                </span>
            </span>
        </p>
        <p class="MsoNormal" style="margin-bottom: 12pt; line-height: 13.5pt; text-align: center; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><img src="/media/fck/^A39E51085F67ABA45BC321017D78756AD2E1B5EAB1D2AB3199^pimgpsh_fullsize_distr(1).jpg" width="500" height="332" alt=""></p>
        <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: 13.5pt; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-family: Arial;"><span style="font-size: larger;"><i>4. Tránh sự tích tụ của chất nhầy</i></span></span><span style="font-size: 10.5pt; font-family: Arial, sans-serif;"><o:p></o:p></span></p>
        <p class="MsoNormal" style="margin-bottom: 12pt; line-height: 13.5pt; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-family: Arial;"><span style="font-size: larger;">Rất nhiều người phản hồi rằng sữa bò làm cho họ bị dị ứng và dễ mắc bệnh đường hô hấp. Sữa dê là một thay thế tốt cho những vấn đề như vậy. Hàm lượng chất béo cao trong sữa bò là lý do cho sự tích tụ của chất nhầy. Chất béo có trong sữa dê chỉ bằng 1/9 trong sữa bò. Vì vậy, bạn có thể tránh được những kích ứng đường ruột.</span></span><span style="font-size: 10.5pt; font-family: Arial, sans-serif;"><o:p></o:p></span></p>
        <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: 13.5pt; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-family: Arial;"><span style="font-size: larger;"><i>5. Hoạt động như một chất chuyển hóa</i></span></span><span style="font-size: 10.5pt; font-family: Arial, sans-serif;"><o:p></o:p></span></p>
        <p class="MsoNormal" style="margin-bottom: 12pt; line-height: 13.5pt; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            <span style="font-family: Arial;">
                <span style="font-size: larger;">
                    Nghiên cứu thực hiện trên sữa dê đã phát hiện khả năng tăng chuyển hóa sắt và đồng, đặc biệt ở những người khó hấp thụ và tiêu hóa các chất này.<br>
                </span>
            </span>
        </p>
        <p class="MsoNormal" style="margin-bottom: 12pt; line-height: 13.5pt; text-align: center; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><img src="/media/fck/^91F304A6C75FEBA76C17D92CBE65254DA97F44269A2DCDD965^pimgpsh_fullsize_distr(1).png" width="500" height="375" alt=""></p>
        <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: 13.5pt; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-family: Arial;"><span style="font-size: larger;"><i>6. Giàu canxi</i></span></span><span style="font-size: 10.5pt; font-family: Arial, sans-serif;"><o:p></o:p></span></p>
        <p class="MsoNormal" style="margin-bottom: 12pt; line-height: 13.5pt; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-family: Arial;"><span style="font-size: larger;">Mọi người thường uống sữa bò để tăng lượng canxi và ngăn ngừa mất xương. Sữa dê cũng rất giàu canxi và các amino acid tryptophan.</span></span><span style="font-size: 10.5pt; font-family: Arial, sans-serif;"><o:p></o:p></span></p>
        <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: 13.5pt; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-family: Arial;"><span style="font-size: larger;"><i>7. Rất giàu dinh dưỡng trong tự nhiên</i></span></span><span style="font-size: 10.5pt; font-family: Arial, sans-serif;"><o:p></o:p></span></p>
        <p class="MsoNormal" style="margin-bottom: 12pt; line-height: 13.5pt; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-family: Arial;"><span style="font-size: larger;">Dê được gọi là động vật muối hữu cơ sinh học. Dê có sức mạnh, tính linh hoạt và sinh lực bền bỉ. Muối hữu cơ sinh học là một yếu tố giúp các khớp di động và dẻo dai hơn. Sữa dê đã được sử dụng trong ngành dược để nuôi dưỡng và cân bằng hệ thần kinh căng thẳng.</span></span><span style="font-size: 10.5pt; font-family: Arial, sans-serif;"><o:p></o:p></span></p>
        <p class="MsoNormal" align="right" style="margin-bottom: 0.0001pt; text-align: right; line-height: 13.5pt; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><span style="font-family: Arial;"><span style="font-size: larger;">Theo&nbsp;<i>magforwomen</i></span></span></p>
        <p class="MsoNormal"><o:p><span style="font-family: Arial;"><span style="font-size: larger;">&nbsp;</span></span></o:p></p>
    </div>

    <div class="cac-tin-khac" style="display:block">
        <span class="title_news2">Tin tức khác</span>
        <div style="border-top:1px solid #0085b1;margin-top:10px"></div>
        <ul class="news-other">
            <li>
                <i style="font-size:8px;margin-right:10px;margin-left:5px;" class="fa fa-plus"></i> <a href="http://chuyenhangnga.com/nuoc-uong-kvass-doc-dao-lam-tu-banh-mi-n31.html" class="vs-tinnb" title="Nước uống Kvass độc đáo làm từ bánh mì"><span>Nước uống Kvass độc đáo làm từ bánh mì</span></a>
            </li>

            <li>
                <i style="font-size:8px;margin-right:10px;margin-left:5px;" class="fa fa-plus"></i> <a href="http://chuyenhangnga.com/thien-nhien-tho-mong-cua-mien-que-nuoc-nga-qua-bo-anh-bon-mua-n30.html" class="vs-tinnb" title="Thiên nhiên thơ mộng của miền quê nước Nga qua bộ ảnh bốn mùa"><span>Thiên nhiên thơ mộng của miền quê nước Nga qua bộ ảnh bốn mùa</span></a>
            </li>

            <li>
                <i style="font-size:8px;margin-right:10px;margin-left:5px;" class="fa fa-plus"></i> <a href="http://chuyenhangnga.com/mon-an-nga-tam-hon-va-phong-cach-n29.html" class="vs-tinnb" title="Món ăn Nga: tâm hồn và phong cách"><span>Món ăn Nga: tâm hồn và phong cách</span></a>
            </li>

            <li>
                <i style="font-size:8px;margin-right:10px;margin-left:5px;" class="fa fa-plus"></i> <a href="http://chuyenhangnga.com/dia-diem-mua-sam-hap-dan-tai-nga-n28.html" class="vs-tinnb" title="Địa điểm mua sắm hấp dẫn tại Nga"><span>Địa điểm mua sắm hấp dẫn tại Nga</span></a>
            </li>

            <li>
                <i style="font-size:8px;margin-right:10px;margin-left:5px;" class="fa fa-plus"></i> <a href="http://chuyenhangnga.com/say-dam-dem-trang-nuoc-nga-n27.html" class="vs-tinnb" title="Say đắm đêm trắng nước Nga"><span>Say đắm đêm trắng nước Nga</span></a>
            </li>

            <li>
                <i style="font-size:8px;margin-right:10px;margin-left:5px;" class="fa fa-plus"></i> <a href="http://chuyenhangnga.com/10-dieu-cuc-thu-vi-co-the-ban-chua-biet-ve-nuoc-nga-n26.html" class="vs-tinnb" title="10 điều cực thú vị có thể bạn chưa biết về nước Nga"><span>10 điều cực thú vị có thể bạn chưa biết về nước Nga</span></a>
            </li>

            <li>
                <i style="font-size:8px;margin-right:10px;margin-left:5px;" class="fa fa-plus"></i> <a href="http://chuyenhangnga.com/nuoc-nga---diem-hen-mua-he-n25.html" class="vs-tinnb" title="Nước Nga - điểm hẹn mùa hè"><span>Nước Nga - điểm hẹn mùa hè</span></a>
            </li>

            <li>
                <i style="font-size:8px;margin-right:10px;margin-left:5px;" class="fa fa-plus"></i> <a href="http://chuyenhangnga.com/nhung-bai-hat-nga-quen-thuoc-voi-nguoi-viet-n24.html" class="vs-tinnb" title="Những bài hát Nga quen thuộc với người Việt"><span>Những bài hát Nga quen thuộc với người Việt</span></a>
            </li>

            <li>
                <i style="font-size:8px;margin-right:10px;margin-left:5px;" class="fa fa-plus"></i> <a href="http://chuyenhangnga.com/du-lich-nga-va-dong-song-volga-huyen-thoai-n23.html" class="vs-tinnb" title="Du lịch Nga và dòng sông Volga huyền thoại"><span>Du lịch Nga và dòng sông Volga huyền thoại</span></a>
            </li>

            <li>
                <i style="font-size:8px;margin-right:10px;margin-left:5px;" class="fa fa-plus"></i> <a href="http://chuyenhangnga.com/nhung-le-hoi-dac-sac-tren-dat-nuoc-nga-n22.html" class="vs-tinnb" title="Những lễ hội đặc sắc trên đất nước Nga"><span>Những lễ hội đặc sắc trên đất nước Nga</span></a>
            </li>

            <li>
                <i style="font-size:8px;margin-right:10px;margin-left:5px;" class="fa fa-plus"></i> <a href="http://chuyenhangnga.com/nhung-mon-an-noi-tieng-cua-nga-khong-the-khong-nem-thu-n21.html" class="vs-tinnb" title="Những món ăn nổi tiếng của Nga không thể không nếm thử"><span>Những món ăn nổi tiếng của Nga không thể không nếm thử</span></a>
            </li>

            <li>
                <i style="font-size:8px;margin-right:10px;margin-left:5px;" class="fa fa-plus"></i> <a href="http://chuyenhangnga.com/15-su-that-nghe-nhu----dua-ve-nuoc-nga-n20.html" class="vs-tinnb" title="15 sự thật nghe như... đùa về nước Nga"><span>15 sự thật nghe như... đùa về nước Nga</span></a>
            </li>

            <li>
                <i style="font-size:8px;margin-right:10px;margin-left:5px;" class="fa fa-plus"></i> <a href="http://chuyenhangnga.com/trai-nghiem-lan-bien-bang-doc-dao-o-nga-n19.html" class="vs-tinnb" title="Trải nghiệm lặn biển băng độc đáo ở Nga"><span>Trải nghiệm lặn biển băng độc đáo ở Nga</span></a>
            </li>

            <li>
                <i style="font-size:8px;margin-right:10px;margin-left:5px;" class="fa fa-plus"></i> <a href="http://chuyenhangnga.com/nhung-net-van-hoa-dac-trung-cua-nguoi-nga-n18.html" class="vs-tinnb" title="Những nét văn hóa đặc trưng của người Nga"><span>Những nét văn hóa đặc trưng của người Nga</span></a>
            </li>

            <li>
                <i style="font-size:8px;margin-right:10px;margin-left:5px;" class="fa fa-plus"></i> <a href="http://chuyenhangnga.com/bup-be-matryoshka---bieu-tuong-van-hoa-nuoc-nga-n17.html" class="vs-tinnb" title="Búp bê Matryoshka - Biểu tượng văn hóa nước Nga"><span>Búp bê Matryoshka - Biểu tượng văn hóa nước Nga</span></a>
            </li>
        </ul>
    </div>
</div>
<div class="list_product" style="display:none">
    <div class="title">

        <h1>Sản phẩm của hãng</h1>
    </div>
    <div class="list_content">
        <ul class="list"></ul>
    </div>

</div>

<style>
    .tt {
        width: 100%;
    }

    .content_detail {
        width: 100%;
        margin-top: 20px;
    }

    .title_news2 {
        font-weight: bold;
        font-size: 20px;
    }

    .news-other {
        margin-top: 20px;
    }

        .news-other li a {
            font-size: 14px;
            color: #333;
            line-height: 20px;
            font-weight: bold;
        }

            .news-other li a:hover {
                color: #e4234d;
                text-decoration: none;
            }
</style>
<script>
    $('.listcategory').slideUp();
    var isclick = true;
    $('.btnshowcat').click(function () {
        if (isclick == true) {
            $('.listcategory').slideDown();
            isclick = false;
        }
        else {
            $('.listcategory').slideUp();
            isclick = true;
        }
    });
    var nav = $('.menu_fix');

    $(window).scroll(function () {
        if ($(this).scrollTop() > 136) {
            nav.addClass("nav_menutop");
            $('#wrapper .content .content_1 .category .listcategory').slideUp();
            $('#wrapper .content .content_1 .category .nav_menu_cat').css('position', 'initial');
            isclick = true;

        } else {
            nav.removeClass("nav_menutop");
            $('#wrapper .content .content_1 .category .nav_menu_cat').css('position', 'absolute');
        }
    });
</script>

