
@{
    ViewBag.Title = "Tin tức";
}

<div class="title"><h1>Bí quyết khoẻ đẹp</h1></div>
<div class="content_new">
    <ul class="list-unstyled list_news">
        <li>
            <ol class="list-unstyled">
                <li class="lv1"><img src="http://chuyenhangnga.com/media/news/1466657536_1.jpg" alt="Những thói quen giúp chống lão hóa cho mắt" title="Những thói quen giúp chống lão hóa cho mắt"></li>
                <li class="lv2"><a href="http://chuyenhangnga.com/nhung-thoi-quen-giup-chong-lao-hoa-cho-mat-n55.html">Những thói quen giúp chống lão hóa cho mắt</a></li>
                <li class="lv3">
                    Những thói quen chăm sóc vùng da quanh mắt sau đây sẽ giúp bạn chống lão hóa cho da, cải thiện đáng kể những vấn đề như quầng thâm, vết chân chim, bọng mắt….
                </li>
            </ol>
        </li>

        <li>
            <ol class="list-unstyled">
                <li class="lv1"><img src="http://chuyenhangnga.com/media/news/1466655290_thumb_725_1461826478_Kem_chăm_sóc_da_ban_ngày_Natura_Siberica_cho_da_nhờn_và_da_hỗn_hợp..jpg" alt="Dấu hiệu nhận biết sản phẩm dưỡng trắng da không an toàn" title="Dấu hiệu nhận biết sản phẩm dưỡng trắng da không an toàn"></li>
                <li class="lv2"><a href="http://chuyenhangnga.com/dau-hieu-nhan-biet-san-pham-duong-trang-da-khong-an-toan-n54.html">Dấu hiệu nhận biết sản phẩm dưỡng trắng da không an toàn</a></li>
                <li class="lv3">
                    Nhu cầu dưỡng trắng da của phái đẹp ngày càng tăng cao kèm theo đó là sự xuất hiện của nhiều loại mỹ phẩm làm trắng. Tuy nhiên, đừng vì hiệu quả trắng da tức thời mà làm da dị ứng, tổn thương bởi những sản phẩm không có uy tín.
                </li>
            </ol>
        </li>

        <li>
            <ol class="list-unstyled">
                <li class="lv1"><img src="http://chuyenhangnga.com/media/news/1466589282_7.jpg" alt="Bí mật để sở hữu bàn chân đẹp" title="Bí mật để sở hữu bàn chân đẹp"></li>
                <li class="lv2"><a href="http://chuyenhangnga.com/bi-mat-de-so-huu-ban-chan-dep-n53.html">Bí mật để sở hữu bàn chân đẹp</a></li>
                <li class="lv3">

                    Mùa Hè đến cũng là lúc phụ nữ có thể tự tin khoe những bộ váy ngắn, những đôi xăng đan mảnh dẻ khoe ra đôi chân nuột nà nhưng không phải ai cũng có một đôi chân đẹp vậy. Có rất nhiều phụ nữ chỉ tập trung chăm sóc da mặt, da tay, da cơ thể mà quên đi một vũ khí quan trọng tạo nên sự quyến rũ, gợi cảm khi diện những bộ váy ngắn, đó chính là đôi bàn chân đẹp.
                </li>
            </ol>
        </li>

        <li>
            <ol class="list-unstyled">
                <li class="lv1"><img src="http://chuyenhangnga.com/media/news/1466586027_6.jpg" alt="7 thói quen giúp ngăn ngừa nếp nhăn" title="7 thói quen giúp ngăn ngừa nếp nhăn"></li>
                <li class="lv2"><a href="http://chuyenhangnga.com/7-thoi-quen-giup-ngan-ngua-nep-nhan-n52.html">7 thói quen giúp ngăn ngừa nếp nhăn</a></li>
                <li class="lv3">
                    Áp dụng 7 thói quen này ngay từ hôm nay sẽ giúp làn da bạn trẻ mãi ngày sau.
                </li>
            </ol>
        </li>

        <li>
            <ol class="list-unstyled">
                <li class="lv1"><img src="http://chuyenhangnga.com/media/news/1466581387_2.jpg" alt="Chuyện tóc thời hiện đại" title="Chuyện tóc thời hiện đại"></li>
                <li class="lv2"><a href="http://chuyenhangnga.com/chuyen-toc-thoi-hien-dai-n51.html">Chuyện tóc thời hiện đại</a></li>
                <li class="lv3">
                    Thời nay, tìm một cô gái có mái tóc dài, đen bóng tự nhiên như các mẹ các chị ngày xưa thật là khó. Đổ tội cho mỹ phẩm và các biện pháp làm tóc thì dường như là oan uổng. Lỗi lớn nhất là đã không chăm sóc chu đáo phần góc con người của mình.
                </li>
            </ol>
        </li>

        <li>
            <ol class="list-unstyled">
                <li class="lv1"><img src="http://chuyenhangnga.com/media/news/1466578801_1.jpg" alt="Kế hoạch dưỡng ẩm cho da hoàn hảo" title="Kế hoạch dưỡng ẩm cho da hoàn hảo"></li>
                <li class="lv2"><a href="http://chuyenhangnga.com/ke-hoach-duong-am-cho-da-hoan-hao-n50.html">Kế hoạch dưỡng ẩm cho da hoàn hảo</a></li>
                <li class="lv3">
                    Làn da rất dễ bị "khát nước" vào mùa lạnh. Nếu không muốn da mình bị mốc meo hoặc khô nứt thì một kế hoạch cung cấp ẩm cho da cả ngày là vô cùng cần thiết. Hãy chọn ngay thực đơn giàu ẩm dành cho bạn!
                </li>
            </ol>
        </li>

        <li>
            <ol class="list-unstyled">
                <li class="lv1"><img src="http://chuyenhangnga.com/media/news/1466572024_6.jpg" alt="Cách tẩy da chết chuyên biệt cho từng vùng da trên cơ thể" title="Cách tẩy da chết chuyên biệt cho từng vùng da trên cơ thể"></li>
                <li class="lv2"><a href="http://chuyenhangnga.com/cach-tay-da-chet-chuyen-biet-cho-tung-vung-da-tren-co-the-n49.html">Cách tẩy da chết chuyên biệt cho từng vùng da trên cơ thể</a></li>
                <li class="lv3">
                    Trong thời điểm mùa hè sắp tới, bạn muốn làn da toàn thân phải mịn màng không tỳ vết, và cách tẩy da chết chính là chìa khóa cho nhu cầu đó.
                </li>
            </ol>
        </li>

        <li>
            <ol class="list-unstyled">
                <li class="lv1"><img src="http://chuyenhangnga.com/media/news/1466569605_1.jpg" alt=" 5 lưu ý về cách trị mụn hiệu quả dành cho da khô" title=" 5 lưu ý về cách trị mụn hiệu quả dành cho da khô"></li>
                <li class="lv2"><a href="http://chuyenhangnga.com/-5-luu-y-ve-cach-tri-mun-hieu-qua-danh-cho-da-kho-n48.html"> 5 lưu ý về cách trị mụn hiệu quả dành cho da khô</a></li>
                <li class="lv3">
                    Hầu hết chúng ta đều cho rằng mụn trứng cá chỉ xuất hiện ở da dầu. Vì vậy bạn sẽ rất ngạc nhiên nếu một ngày nào đó những người da khô như bạn đột nhiên nổi đầy mụn. Trên thực tế việc xuất hiện mụn trứng cá ở những người da khô không hề có gì bất thường như chúng ta vẫn nghĩ. Mặc dù mụn trứng cá có thể gặp ở bất kỳ độ tuổi nào, nhưng có lẽ phổ biến nhất vẫn là ở người trưởng thành.
                </li>
            </ol>
        </li>

        <li>
            <ol class="list-unstyled">
                <li class="lv1"><img src="http://chuyenhangnga.com/media/news/1466492653_bi-quyet-tre-lau-cua-phu-nu-nhat-ban-elle-vn-1.jpg" alt="Bí quyết trẻ lâu của phụ nữ Nhật Bản" title="Bí quyết trẻ lâu của phụ nữ Nhật Bản"></li>
                <li class="lv2"><a href="http://chuyenhangnga.com/bi-quyet-tre-lau-cua-phu-nu-nhat-ban-n47.html">Bí quyết trẻ lâu của phụ nữ Nhật Bản</a></li>
                <li class="lv3">
                    Chỉ với vài mẹo nhỏ về cách ăn uống, tập luyện, sinh hoạt,.. bạn sẽ có một cơ thể săn chắc và gương mặt trẻ trung, rạng rỡ. Cùng Chuyên Hàng Nga khám phá ”bí quyết trẻ lâu” của phụ nữ Nhật Bản nhé.
                </li>
            </ol>
        </li>

        <li>
            <ol class="list-unstyled">
                <li class="lv1"><img src="http://chuyenhangnga.com/media/news/1466491692_6.jpg" alt=" Bạn đã biết đắp mặt nạ trắng da đúng cách?" title=" Bạn đã biết đắp mặt nạ trắng da đúng cách?"></li>
                <li class="lv2"><a href="http://chuyenhangnga.com/-ban-da-biet-dap-mat-na-trang-da-dung-cach-n46.html"> Bạn đã biết đắp mặt nạ trắng da đúng cách?</a></li>
                <li class="lv3">
                    Mặt nạ trắng da có rất nhiêu loại, từ những hỗn hợp từ tự nhiên đến các loại mặt nạ giấy, mặt nạ ngủ đều giúp nuôi dưỡng làn da sáng đều mịn màng. Tuy nhiên, nếu không biết sử dụng mặt nạ đúng cách, sản phẩm sẽ không thể phát huy tối đa tác dụng thậm chí còn không tốt cho da.
                </li>
            </ol>
        </li>
    </ul>
</div>
<div id="vs-page"><a href="#" class="page_no_selected"><div style="padding-top:2px;">1</div></a><a href="http://chuyenhangnga.com/bi-quyet-khoe-dep?page=2" class="page_no"><div style="padding-top:2px;">2</div></a> </div>
<script>
    $('.listcategory').slideUp();
    var isclick = true;
    $('.btnshowcat').click(function () {
        if (isclick == true) {
            $('.listcategory').slideDown();
            isclick = false;
        }
        else {
            $('.listcategory').slideUp();
            isclick = true;
        }
    });
    var nav = $('.menu_fix');

    $(window).scroll(function () {
        if ($(this).scrollTop() > 136) {
            nav.addClass("nav_menutop");
            $('#wrapper .content .content_1 .category .listcategory').slideUp();
            $('#wrapper .content .content_1 .category .nav_menu_cat').css('position', 'initial');
            isclick = true;

        } else {
            nav.removeClass("nav_menutop");
            $('#wrapper .content .content_1 .category .nav_menu_cat').css('position', 'absolute');
        }
    });
</script>

