@{
    ViewBag.Title = "Mỹ phẩm; Sữa bột ; Sữa Nan Nga; Bột ăn dặm; Thực phẩm; Đồ ăn";
}

<div class="list_product">
    <div class="title">
        <h1>SẢN PHẨM CHO BÉ</h1>
    </div>
    <div class="summary"><br></div>
    <div class="list_content">
        <ul class="list">
            <li>
                <div class="image">
                    <a href="http://chuyenhangnga.com/Chao-sua-dem-Fleur-A;pine-Organic-.html" title="Cháo sữa ăn đêm Fleur Alpine Organic ">
                        <img src="./pageproduct_files/thumb_725_1468231782_Cháo_sữa_ăn_đêm_Fleur_Alpine_Organic.jpg" data-tooltip="sticky644" alt="Cháo sữa ăn đêm Fleur Alpine Organic ">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="http://chuyenhangnga.com/Chao-sua-dem-Fleur-A;pine-Organic-.html" title="Cháo sữa ăn đêm Fleur Alpine Organic ">Cháo sữa ăn đêm Fleur Alpine Organic ...</a></h3>
                    <div class="price">
                        <span>145,000 đ</span>
                        <img src="./pageproduct_files/star.png" alt="star">
                    </div>
                    <button title="644" class="btn ajax">Mua hàng</button>

                </div>
            </li>

            <li>
                <div class="image">
                    <a href="http://chuyenhangnga.com/banh-an-dam-Fleur-Alpine-Organic-loai-Alpine-Prebiotic-.html" title="Bánh ăn dặm Fleur Alpine Organic loại Alpine Prebiotic">
                        <img src="./pageproduct_files/thumb_725_1468231227_Bánh_ăn_dặm_Fleur_Alpine_Organic_loại_Alpine_Prebiotic.jpg" data-tooltip="sticky643" alt="Bánh ăn dặm Fleur Alpine Organic loại Alpine Prebiotic">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="http://chuyenhangnga.com/banh-an-dam-Fleur-Alpine-Organic-loai-Alpine-Prebiotic-.html" title="Bánh ăn dặm Fleur Alpine Organic loại Alpine Prebiotic">Bánh ăn dặm Fleur Alpine Organic loại Al...</a></h3>
                    <div class="price">
                        <span>135,000 đ</span>
                        <img src="./pageproduct_files/star.png" alt="star">
                    </div>
                    <button title="643" class="btn ajax">Mua hàng</button>

                </div>
            </li>

            <li>
                <div class="image">
                    <a href="http://chuyenhangnga.com/banh-bich-quy-Fleur-Alpine-voi-tao-.html" title="Bánh bích quy Fleur Alpine với táo">
                        <img src="./pageproduct_files/thumb_725_1468230903_Bánh_bích_quy_Fleur_Alpine_với_táo.jpg" data-tooltip="sticky642" alt="Bánh bích quy Fleur Alpine với táo">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="http://chuyenhangnga.com/banh-bich-quy-Fleur-Alpine-voi-tao-.html" title="Bánh bích quy Fleur Alpine với táo">Bánh bích quy Fleur Alpine với táo...</a></h3>
                    <div class="price">
                        <span>135,000 đ</span>
                        <img src="./pageproduct_files/star.png" alt="star">
                    </div>
                    <button title="642" class="btn ajax">Mua hàng</button>

                </div>
            </li>

            <li style="margin-right:0px;">
                <div class="image">
                    <a href="http://chuyenhangnga.com/Sup-rau-cu-tong-hop-Fleur-Alpine-.html" title="Bột Fleur Alpine rau củ tổng hợp">
                        <img src="./pageproduct_files/thumb_725_1468230289_Súp_rau_củ_tổng_hợp_Fleur_Alpine.jpg" data-tooltip="sticky641" alt="Bột Fleur Alpine rau củ tổng hợp">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="http://chuyenhangnga.com/Sup-rau-cu-tong-hop-Fleur-Alpine-.html" title="Bột Fleur Alpine rau củ tổng hợp">Bột Fleur Alpine rau củ tổng hợp...</a></h3>
                    <div class="price">
                        <span>150,000 đ</span>
                        <img src="./pageproduct_files/star.png" alt="star">
                    </div>
                    <button title="641" class="btn ajax">Mua hàng</button>

                </div>
            </li>

            <li>
                <div class="image">
                    <a href="http://chuyenhangnga.com/Sup-rau-bi-xanh-va-thit-be-Fleur-Alpine-.html" title="Súp rau bí xanh và thịt bê Fleur Alpine ">
                        <img src="./pageproduct_files/thumb_725_1468230009_Súp_rau_bí_xanh_và_thịt_bê_Fleur_Alpine.jpg" data-tooltip="sticky640" alt="Súp rau bí xanh và thịt bê Fleur Alpine ">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="http://chuyenhangnga.com/Sup-rau-bi-xanh-va-thit-be-Fleur-Alpine-.html" title="Súp rau bí xanh và thịt bê Fleur Alpine ">Súp rau bí xanh và thịt bê Fleur Alpine ...</a></h3>
                    <div class="price">
                        <span>145,000 đ</span>
                        <img src="./pageproduct_files/star.png" alt="star">
                    </div>
                    <button title="640" class="btn ajax">Mua hàng</button>

                </div>
            </li>

            <li>
                <div class="image">
                    <a href="http://chuyenhangnga.com/chao-yen-mach-Fleur-Alpine-voi-sua-va-le-.html" title="Cháo yến mạch Fleur Alpine với  sữa và lê ">
                        <img src="./pageproduct_files/thumb_725_1468229186_Cháo_yến_mạch_Fleur_Alpine_với__sữa_và_lê.jpg" data-tooltip="sticky639" alt="Cháo yến mạch Fleur Alpine với  sữa và lê ">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="http://chuyenhangnga.com/chao-yen-mach-Fleur-Alpine-voi-sua-va-le-.html" title="Cháo yến mạch Fleur Alpine với  sữa và lê ">Cháo yến mạch Fleur Alpine với  sữa và l...</a></h3>
                    <div class="price">
                        <span>145,000 đ</span>
                        <img src="./pageproduct_files/star.png" alt="star">
                    </div>
                    <button title="639" class="btn ajax">Mua hàng</button>

                </div>
            </li>

            <li>
                <div class="image">
                    <a href="http://chuyenhangnga.com/chao-Fleur-Alpine-voi-hat-ke-sua-va-hon-hop-cac-loai-ngu-coc-.html" title="Cháo Fleur Alpine với hạt kê, sữa và hỗn hợp các loại ngũ cốc">
                        <img src="./pageproduct_files/thumb_725_1468227541_Cháo_Fleur_Alpine_với_hạt_kê,_sữa_và_hỗn_hợp_các_loại_ngũ_cốc.jpg" data-tooltip="sticky638" alt="Cháo Fleur Alpine với hạt kê, sữa và hỗn hợp các loại ngũ cốc">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="http://chuyenhangnga.com/chao-Fleur-Alpine-voi-hat-ke-sua-va-hon-hop-cac-loai-ngu-coc-.html" title="Cháo Fleur Alpine với hạt kê, sữa và hỗn hợp các loại ngũ cốc">Cháo Fleur Alpine với hạt kê, sữa và hỗn...</a></h3>
                    <div class="price">
                        <span>145,000 đ</span>
                        <img src="./pageproduct_files/star.png" alt="star">
                    </div>
                    <button title="638" class="btn ajax">Mua hàng</button>

                </div>
            </li>

            <li style="margin-right:0px;">
                <div class="image">
                    <a href="http://chuyenhangnga.com/Chao-sua-Fleur-Alpine-voi-chiet-xuat-tu-ngo-.html" title="Cháo sữa Fleur Alpine với chiết xuất từ ngô">
                        <img src="./pageproduct_files/thumb_725_1468226537_Cháo_sữa_Fleur_Alpine_với_chiết_xuất_từ_ngô.jpg" data-tooltip="sticky637" alt="Cháo sữa Fleur Alpine với chiết xuất từ ngô">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="http://chuyenhangnga.com/Chao-sua-Fleur-Alpine-voi-chiet-xuat-tu-ngo-.html" title="Cháo sữa Fleur Alpine với chiết xuất từ ngô">Cháo sữa Fleur Alpine với chiết xuất từ ...</a></h3>
                    <div class="price">
                        <span>145,000 đ</span>
                        <img src="./pageproduct_files/star.png" alt="star">
                    </div>
                    <button title="637" class="btn ajax">Mua hàng</button>

                </div>
            </li>

            <li>
                <div class="image">
                    <a href="http://chuyenhangnga.com/tra-trai-cay-hipp-cho-tre-em-tu-6-thang-.html" title="Trà Hipp hoa quả 6m">
                        <img src="./pageproduct_files/thumb_725_1466657196_Trà_trái_cây_Hipp_cho_trẻ_em_từ_6_tháng.jpg" data-tooltip="sticky634" alt="Trà Hipp hoa quả 6m">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="http://chuyenhangnga.com/tra-trai-cay-hipp-cho-tre-em-tu-6-thang-.html" title="Trà Hipp hoa quả 6m">Trà Hipp hoa quả 6m...</a></h3>
                    <div class="price">
                        <span>195,000 đ</span>
                        <img src="./pageproduct_files/star.png" alt="star">
                    </div>
                    <button title="634" class="btn ajax">Mua hàng</button>

                </div>
            </li>

            <li>
                <div class="image">
                    <a href="http://chuyenhangnga.com/vang-sua-smetana.html" title="Váng sữa Smetana">
                        <img src="./pageproduct_files/thumb_725_1466589489_Váng_sữa_Smetana.jpg" data-tooltip="sticky633" alt="Váng sữa Smetana">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="http://chuyenhangnga.com/vang-sua-smetana.html" title="Váng sữa Smetana">Váng sữa Smetana...</a></h3>
                    <div class="price">
                        <span>65,000 đ</span>
                        <img src="./pageproduct_files/star.png" alt="star">
                    </div>
                    <button title="633" class="btn ajax">Mua hàng</button>

                </div>
            </li>

            <li>
                <div class="image">
                    <a href="http://chuyenhangnga.com/Sua-tam-va-dau-goi-tre-em-Rik-and-Rok-Nga-.html" title="Sữa tắm và dầu gội trẻ em Rik &amp; Rok Nga">
                        <img src="./pageproduct_files/thumb_725_1466404906_Sữa_tắm_và_dầu_gội_trẻ_em_Rik_&amp;_Rok_Nga.jpg" data-tooltip="sticky626" alt="Sữa tắm và dầu gội trẻ em Rik &amp; Rok Nga">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="http://chuyenhangnga.com/Sua-tam-va-dau-goi-tre-em-Rik-and-Rok-Nga-.html" title="Sữa tắm và dầu gội trẻ em Rik &amp; Rok Nga">Sữa tắm và dầu gội trẻ em Rik &amp; Rok Nga...</a></h3>
                    <div class="price">
                        <span>145,000 đ</span>
                        <img src="./pageproduct_files/star.png" alt="star">
                    </div>
                    <button title="626" class="btn ajax">Mua hàng</button>

                </div>
            </li>

            <li style="margin-right:0px;">
                <div class="image">
                    <a href="http://chuyenhangnga.com/Kem-danh-rang-danh-cho-tre-em-tu-so-sinh-den-4-tuoi-.html" title="Kem đánh răng trẻ em hình thú">
                        <img src="./pageproduct_files/thumb_725_1466404199_Kem_đánh_răng_dành_cho_trẻ_em_từ_sơ_sinh_đến_4_tuổi.jpg" data-tooltip="sticky625" alt="Kem đánh răng trẻ em hình thú">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="http://chuyenhangnga.com/Kem-danh-rang-danh-cho-tre-em-tu-so-sinh-den-4-tuoi-.html" title="Kem đánh răng trẻ em hình thú">Kem đánh răng trẻ em hình thú...</a></h3>
                    <div class="price">
                        <span>65,000 đ</span>
                        <img src="./pageproduct_files/star.png" alt="star">
                    </div>
                    <button title="625" class="btn ajax">Mua hàng</button>

                </div>
            </li>

            <li>
                <div class="image">
                    <a href="http://chuyenhangnga.com/Kem-danh-rang-mysweetheart-cho-tre-tu-2-tuoi-.html" title="Kem đánh răng MY SWEETHEART cho trẻ từ 2 tuổi">
                        <img src="./pageproduct_files/thumb_725_1466402863_Kem_đánh_răng_MY_SWEETHEART_cho_trẻ_từ_2_tuổi.jpg" data-tooltip="sticky624" alt="Kem đánh răng MY SWEETHEART cho trẻ từ 2 tuổi">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="http://chuyenhangnga.com/Kem-danh-rang-mysweetheart-cho-tre-tu-2-tuoi-.html" title="Kem đánh răng MY SWEETHEART cho trẻ từ 2 tuổi">Kem đánh răng MY SWEETHEART cho trẻ từ 2...</a></h3>
                    <div class="price">
                        <span>65,000 đ</span>
                        <img src="./pageproduct_files/star.png" alt="star">
                    </div>
                    <button title="624" class="btn ajax">Mua hàng</button>

                </div>
            </li>

            <li>
                <div class="image">
                    <a href="http://chuyenhangnga.com/Kem-danh-rang-neva-.html" title="kem đánh răng Neva">
                        <img src="./pageproduct_files/thumb_725_1466402279_Kem_đánh_răng_Neva.jpg" data-tooltip="sticky623" alt="kem đánh răng Neva">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="http://chuyenhangnga.com/Kem-danh-rang-neva-.html" title="kem đánh răng Neva">kem đánh răng Neva...</a></h3>
                    <div class="price">
                        <span>65,000 đ</span>
                        <img src="./pageproduct_files/star.png" alt="star">
                    </div>
                    <button title="623" class="btn ajax">Mua hàng</button>

                </div>
            </li>

            <li>
                <div class="image">
                    <a href="http://chuyenhangnga.com/ban-chai-danh-rang-aquafresh-cho-tre-em-tu-2-tuoi-.html" title="Bàn chải Aquafresh cho trẻ em từ 2 tuổi">
                        <img src="./pageproduct_files/thumb_725_1466399499_bàn_chải_đánh_răng_Aquafresh_cho_trẻ_em_từ_2_tuổi.jpg" data-tooltip="sticky622" alt="Bàn chải Aquafresh cho trẻ em từ 2 tuổi">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="http://chuyenhangnga.com/ban-chai-danh-rang-aquafresh-cho-tre-em-tu-2-tuoi-.html" title="Bàn chải Aquafresh cho trẻ em từ 2 tuổi">Bàn chải Aquafresh cho trẻ em từ 2 tuổi...</a></h3>
                    <div class="price">
                        <span>65,000 đ</span>
                        <img src="./pageproduct_files/star.png" alt="star">
                    </div>
                    <button title="622" class="btn ajax">Mua hàng</button>

                </div>
            </li>

            <li style="margin-right:0px;">
                <div class="image">
                    <a href="http://chuyenhangnga.com/ban-chai-danh-rang-aquafresh-cho-tre-em-tu-3-den-5-tuoi-.html" title="Bàn chải  Aquafresh cho trẻ em từ 3 đến 5 tuổi">
                        <img src="./pageproduct_files/thumb_725_1466399118_bàn_chải_đánh_răng_Aquafresh_cho_trẻ_em.jpg" data-tooltip="sticky621" alt="Bàn chải  Aquafresh cho trẻ em từ 3 đến 5 tuổi">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="http://chuyenhangnga.com/ban-chai-danh-rang-aquafresh-cho-tre-em-tu-3-den-5-tuoi-.html" title="Bàn chải  Aquafresh cho trẻ em từ 3 đến 5 tuổi">Bàn chải  Aquafresh cho trẻ em từ 3 đến ...</a></h3>
                    <div class="price">
                        <span>65,000 đ</span>
                        <img src="./pageproduct_files/star.png" alt="star">
                    </div>
                    <button title="621" class="btn ajax">Mua hàng</button>

                </div>
            </li>

            <li>
                <div class="image">
                    <a href="http://chuyenhangnga.com/Kem-danh-rang-kalina-rong-con-cho-tre-em-.html" title="Kem đánh răng Kalina rồng con cho trẻ em">
                        <img src="./pageproduct_files/thumb_725_1466398486_Kem_đánh_rằng_Kalina_rồng_con_cho_trẻ_em.jpg" data-tooltip="sticky620" alt="Kem đánh răng Kalina rồng con cho trẻ em">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="http://chuyenhangnga.com/Kem-danh-rang-kalina-rong-con-cho-tre-em-.html" title="Kem đánh răng Kalina rồng con cho trẻ em">Kem đánh răng Kalina rồng con cho trẻ em...</a></h3>
                    <div class="price">
                        <span>80,000 đ</span>
                        <img src="./pageproduct_files/star.png" alt="star">
                    </div>
                    <button title="620" class="btn ajax">Mua hàng</button>

                </div>
            </li>

            <li>
                <div class="image">
                    <a href="http://chuyenhangnga.com/Sua-chua-campina-voi-nhieu-vi-trai-cay.html" title="Sữa chua Campina vị trái cây">
                        <img src="./pageproduct_files/thumb_725_1466397362_Sữa_chua_Campina_với_nhiều_vị_trái_cây.jpg" data-tooltip="sticky619" alt="Sữa chua Campina vị trái cây">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="http://chuyenhangnga.com/Sua-chua-campina-voi-nhieu-vi-trai-cay.html" title="Sữa chua Campina vị trái cây">Sữa chua Campina vị trái cây...</a></h3>
                    <div class="price">
                        <span>160,000 đ</span>
                        <img src="./pageproduct_files/star.png" alt="star">
                    </div>
                    <button title="619" class="btn ajax">Mua hàng</button>

                </div>
            </li>

            <li>
                <div class="image">
                    <a href="http://chuyenhangnga.com/Chao-ngu-coc-Heizn-voi-rau-lua-mi-va-bi-xanh-.html" title="Bột Heinz ngũ cốc bí xanh">
                        <img src="./pageproduct_files/thumb_725_1466395719_Cháo_ngũ_cốc_Heinz_với_rau,_lúa_mì_và_bí_xanh.jpg" data-tooltip="sticky617" alt="Bột Heinz ngũ cốc bí xanh">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="http://chuyenhangnga.com/Chao-ngu-coc-Heizn-voi-rau-lua-mi-va-bi-xanh-.html" title="Bột Heinz ngũ cốc bí xanh">Bột Heinz ngũ cốc bí xanh...</a></h3>
                    <div class="price">
                        <span>110,000 đ</span>
                        <img src="./pageproduct_files/star.png" alt="star">
                    </div>
                    <button title="617" class="btn ajax">Mua hàng</button>

                </div>
            </li>

            <li style="margin-right:0px;">
                <div class="image">
                    <a href="http://chuyenhangnga.com/chao-ngu-coc-Heizn-voi-rau-bi-ngo-lua-ngo-va-sua-.html" title="Bột Heinz ngũ cốc bí đỏ">
                        <img src="./pageproduct_files/thumb_725_1466069262_Cháo_ngũ_cốc_Heinz_với_rau,_bí_ngô,_lúa,_ngô_và_sữa.jpg" data-tooltip="sticky616" alt="Bột Heinz ngũ cốc bí đỏ">
                    </a>
                </div>
                <div class="description">
                    <h3><a href="http://chuyenhangnga.com/chao-ngu-coc-Heizn-voi-rau-bi-ngo-lua-ngo-va-sua-.html" title="Bột Heinz ngũ cốc bí đỏ">Bột Heinz ngũ cốc bí đỏ...</a></h3>
                    <div class="price">
                        <span>110,000 đ</span>
                        <img src="./pageproduct_files/star.png" alt="star">
                    </div>
                    <button title="616" class="btn ajax">Mua hàng</button>

                </div>
            </li>
        </ul>
    </div>
    <div id="vs-page"><a href="http://chuyenhangnga.com/san-pham-cho-be#" class="page_no_selected"><div style="padding-top:2px;">1</div></a><a href="http://chuyenhangnga.com/san-pham-cho-be?page=2" class="page_no"><div style="padding-top:2px;">2</div></a> <a href="http://chuyenhangnga.com/san-pham-cho-be?page=3" class="page_no"><div style="padding-top:2px;">3</div></a> <a href="http://chuyenhangnga.com/san-pham-cho-be?page=4" class="page_no"><div style="padding-top:2px;">4</div></a> <a href="http://chuyenhangnga.com/san-pham-cho-be?page=5" class="page_no"><div style="padding-top:2px;">5</div></a> <a href="http://chuyenhangnga.com/san-pham-cho-be?page=6" class="page_next"><i class="fa fa-angle-right"></i></a><a href="http://chuyenhangnga.com/san-pham-cho-be?page=9" class="page_last"><i class="fa fa-angle-double-right"></i></a></div>
</div>
<script>
        $('.listcategory').slideUp();
        var isclick = true;
        $('.btnshowcat').click(function(){
            if(isclick == true)
            {
                $('.listcategory').slideDown();
                isclick = false;
            }
            else
            {
                $('.listcategory').slideUp();
                isclick = true;
            }
        });
        var nav = $('.menu_fix');

        $(window).scroll(function () {
            if ($(this).scrollTop() > 136) {
                nav.addClass("nav_menutop");
                $('#wrapper .content .content_1 .category .listcategory').slideUp();
                $('#wrapper .content .content_1 .category .nav_menu_cat').css('position','initial');
                isclick = true;

            } else {
                nav.removeClass("nav_menutop");
                $('#wrapper .content .content_1 .category .nav_menu_cat').css('position','absolute');
            }
        });
</script>

