<ul class="nav sidebar-menu">
    <!--Dashboard-->
    <li class="active">
        <a href="/">
            <i class="menu-icon glyphicon glyphicon-home"></i>
            <span class="menu-text"> Dashboard </span>
        </a>
    </li>
    <!--Danh mục-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon glyphicon glyphicon-tasks"></i>
            <span class="menu-text"> Danh mục sản phẩm </span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li>
                <a href="/Category/Created">
                    <span class="menu-text">Thêm mới</span>
                </a>
            </li>
            <li>
                <a href="/Category/List">
                    <span class="menu-text">Quản lý danh mục</span>
                </a>
            </li>            
        </ul>
    </li>
    <!--Sản phẩm-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon glyphicon glyphicon-tasks"></i>
            <span class="menu-text"> Quản lý sản phẩm </span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li>
                <a href="/Product/Created">
                    <span class="menu-text">Thêm mới</span>
                </a>
            </li>
            <li>
                <a href="/Product/List">
                    <span class="menu-text">Danh sách sản phẩm</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
